<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>UPP Video</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>

    <!-- BARRA SUPERIOR -->
    <header class="barra-superior">

        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-img">

        <div class="usuario-logueado">
            {{ session['nombre'] }}
        </div>

    </header>

    <!-- CONTENIDO DE CADA PAGINA -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- MENU -->
    <footer class="footer-menu">

        <a href="/home" class="menu-btn active">
            Inicio
        </a>

        <a href="/peliculas/1" class="menu-btn">
            Películas
        </a>

        <a href="/usuarios" class="menu-btn">
            Usuarios
        </a>

        <a href="{{ url_for('logout') }}" class="menu-btn">
            Salir
        </a>
    </footer>

</body>

</html>