{% extends 'layout.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">

            <div class="d-grid gap-3">

                <a class="btn btn-danger" href="/categoria/27">Terror</a>

                <a class="btn btn-warning" href="/categoria/35">Comedia</a>

                <a class="btn btn-primary" href="/categoria/28">Acción</a>

                <a class="btn btn-info" href="/categoria/878">Ciencia ficción</a>

                <a class="btn btn-success" href="/categoria/10749">Romance</a>

                <a class="btn btn-danger" href="/categoria/10402">Musica</a>

                <a class="btn btn-warning" href="/categoria/53">Suspenso</a>

            </div>

        </div>

        <!-- Películas -->
        <div class="col-md-10">

            <div class="row">

                {% for pelicula in peliculas %}

                <div class="col-md-3 mb-4">

                    <div class="card h-100">

                        <img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}" class="card-img-top">

                        <div class="card-body text-center">
                            <h6>{{ pelicula.title }}</h6>
                        </div>

                    </div>

                </div>

                {% endfor %}

            </div>

        </div>

    </div>
</div>

{% endblock %}